In [15]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [16]:
URL = 'https://www.ambitionbox.com/list-of-companies?campaign=homepage_companies_widget'

In [17]:
HEADERS = ({'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:124.0) Gecko/20100101 Firefox/124.0', 'Accpet-Language': 'en-US, en;q=0.5'})

In [18]:
webpage= requests.get(URL,headers=HEADERS)

In [23]:
webpage

In [45]:
soup = BeautifulSoup(webpage.content, 'html.parser')

In [51]:
company = soup.find_all('div', class_='companyCardWrapper')

In [112]:
len(company)

20

In [ ]:
final=pd.DataFrame()
for j in range(1,11):
    URL = 'https://www.ambitionbox.com/list-of-companies?campaign=homepage_companies_widget={}'.format(j)
    HEADERS = ({'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:124.0) Gecko/20100101 Firefox/124.0', 'Accpet-Language': 'en-US, en;q=0.5'})
    webpage= requests.get(URL,headers=HEADERS)
    soup = BeautifulSoup(webpage.content, 'html.parser')
    company = soup.find_all('div', class_='companyCardWrapper')
    name=[]
    rating=[]
    reviews=[]
    ctype=[]
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div', class_='companyCardWrapper__companyRating').text.strip())
        reviews.append(i.find('span', class_='companyCardWrapper__ActionCount').text.strip())
        ctype.append(i.find_all('span', class_='companyCardWrapper__interLinking')[0].text.strip())
        
    d={'name': name, 'rating': rating, 'reviews': reviews, 'Company Details': ctype}
    df=pd.DataFrame(d)
    final.append(df)

In [183]:
name=[]
rating=[]
reviews=[]
ctype=[]
for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('div', class_='companyCardWrapper__companyRating').text.strip())
    reviews.append(i.find('span', class_='companyCardWrapper__ActionCount').text.strip())
    ctype.append(i.find_all('span', class_='companyCardWrapper__interLinking')[0].text.strip())
    
d={'name': name, 'rating': rating, 'reviews': reviews, 'Company Details': ctype}
df=pd.DataFrame(d)
df

,name,rating,reviews,Company Details
0,TCS,3.8,75.5k,IT Services & Consulting | 1 Lakh+ Employees |...
1,Accenture,4.0,47.8k,IT Services & Consulting | 1 Lakh+ Employees |...
2,Cognizant,3.9,43.1k,IT Services & Consulting | 1 Lakh+ Employees |...
3,Wipro,3.8,40.6k,IT Services & Consulting | 1 Lakh+ Employees |...
4,Capgemini,3.9,35.2k,IT Services & Consulting | 1 Lakh+ Employees |...
5,HDFC Bank,4.0,34.8k,Banking | 1 Lakh+ Employees | Public | 30 year...
6,ICICI Bank,4.0,34.4k,Banking | 1 Lakh+ Employees | Public | 30 year...
7,Infosys,3.8,32.9k,IT Services & Consulting | 1 Lakh+ Employees |...
8,HCLTech,3.7,29.5k,IT Services & Consulting | 1 Lakh+ Employees |...
9,Tech Mahindra,3.7,28.5k,IT Services & Consulting | 1 Lakh+ Employees |...
10,Genpact,3.9,26.9k,IT Services & Consulting | 1 Lakh+ Employees |...
11,Axis Bank,3.9,22.6k,Banking | 50k-1 Lakh Employees | Public | 31 y...
12,Teleperformance,3.7,23k,BPO | 50k-1 Lakh Employees | Forbes Global 200...
13,Concentrix Corporation,3.9,22.4k,BPO | 50k-1 Lakh Employees | Public | 41 years...
14,Jio,4.0,21.1k,Telecom | 50k-1 Lakh Employees | Public | 6 ye...
15,Amazon,4.1,21.3k,Internet | 1 Lakh+ Employees | Public | 30 yea...
16,IBM,4.1,20.2k,IT Services & Consulting | 1 Lakh+ Employees |...
17,Reliance Retail,4.0,19.4k,Retail | 1 Lakh+ Employees | 18 years old | Na...
18,HDB Financial Services,4.0,18.6k,NBFC | 1 Lakh+ Employees | 17 years old | Ahme...
19,Larsen & Toubro Limited,4.1,17k,Engineering & Construction | 10k-50k Employees...